<h2>The Burgers that you have devoured!</h2>
<br>
<ul style="list-style: none;">
  {{#each burgers}}
    {{#if this.devoured}}
      <li style="color:white">
        <br>
        {{this.burger_name}}
        <br>
        <hr>
      </li>
    {{/if}}
  {{/each}}
</ul>